<app-base [submenus]="submenus"></app-base>
<main style="padding-left: 320px; padding-top: 30px">
  <div class="row">
    <div class="col m2"></div>
    <div class="col s12 m8">
      <div class="card hoverable">
        <div class="card-content">
          <div class="blue lighten-1 white-text">
            <span class="card-title">Create new client</span>
          </div>

          <div class="divider"></div>
          <app-form-client
            [client]="client"
            [contact]="contact"
          ></app-form-client>
        </div>
      </div>
    </div>
  </div>
</main>
