.header-po {
  padding-top: 10px;
}

.header-po h5 {
  padding-top: -10px;
  font-weight: bolder;
  color: #0d47a1;
}

thead tr th {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px !important;
  border: 1px solid #e0e0e0;
}

tbody tr td,
tr td {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px !important;
  border: 1px solid #e0e0e0;
}
