<app-base [submenus]="submenus"></app-base>
<main>
  <div class="row">
    <div class="col m1"></div>
    <div class="col s12 m10">
      <div class="card hoverable">
        <div class="card-content">
          <div class="blue lighten-1 white-text">
            <span class="card-title center">Print purchase order</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="po">
    <div class="col s12 m12 center">
      <button class="btn-small blue" (click)="generatePdf2()">
        <i class="material-icons">print</i>Print purchase order
      </button>
    </div>
    <div class="col m1"></div>
    <div class="col s12 m10">
      <div class="card hoverable" #poDiv id="purchaseOrder">
        <div class="card-content">
          <div class="row grey lighten-1 header-po">
            <div class="col s4 m4">
              <img
                src="../../../../assets/images/almapps-logo.png"
                style="height: 40px"
                alt=""
              />
            </div>
            <div class="col s8 m8 right-align"><h5>PURCHASE ORDER</h5></div>
          </div>
          <div class="row" style="font-size: 13px">
            <div class="col s5 m5">
              <p>{{ po.company.name }}</p>
              <p>{{ po.company.address }}</p>
              <p>{{ po.company.po_box }}</p>
              <p>{{ po.company.phone1 }}</p>
              <p>{{ po.company.contact_name }}</p>
              <p>{{ po.company.contact_email1 }}</p>
            </div>
            <div class="col s2 m2"></div>
            <div class="col s5 m5 right-align">
              <p>
                <b>Date: {{ po.date_op | date: "dd-MM-YYYY" }}</b>
              </p>
              <p>
                <b>Reference: {{ po.reference }}</b>
              </p>
              <qrcode
                *ngIf="showQr"
                [qrdata]="po.reference"
                [width]="70"
              ></qrcode>
            </div>
          </div>
          <div class="row" style="font-size: 13px !important">
            <div class="col s5 m5">
              <h6
                class="center blue darken-2 white-text"
                style="padding: 8px 0 8px 0px"
              >
                Vendor
              </h6>
              <p>{{ po.vendor.name }}</p>
              <p>{{ po.vendor.email }}</p>
              <p>{{ po.vendor.address }}</p>
              <p>{{ po.vendor.phone }}</p>
            </div>
            <div class="col s2 m2"></div>
            <div class="col s5 m5">
              <h6
                class="center blue darken-2 white-text"
                style="padding: 8px 0 8px 0px"
              >
                Ship to
              </h6>
              <p>{{ po.company.name }}</p>
              <p>{{ po.company.address }}</p>
              <p>{{ po.company.po_box }}</p>
              <p>{{ po.company.contact_name }}</p>
              <p>
                {{ po.company.contact_phone1 }} /
                {{ po.company.contact_phone2 }}
              </p>
              <p>{{ po.company.contact_email1 }}</p>
              <p>{{ po.company.contact_email2 }}</p>
            </div>
          </div>
          <div class="row" *ngIf="po.shipping_status" style="font-size: 13px">
            <div class="col s4 m4">
              <h6
                class="center blue darken-2 white-text"
                style="padding: 8px 0 8px 0px"
              >
                Shipping terms
              </h6>
              <p class="center">{{ po.shipping_terms }}</p>
            </div>
            <div class="col s4 m4">
              <h6
                class="center blue darken-2 white-text"
                style="padding: 8px 0 8px 0px"
              >
                Shipping method
              </h6>
              <p class="center">{{ po.shipping_method }}</p>
            </div>
            <div class="col s4 m4">
              <h6
                class="center blue darken-2 white-text"
                style="padding: 8px 0 8px 0px"
              >
                Delivery date
              </h6>
              <p class="center">{{ po.shipping_date | date: "dd-MM-YYYY" }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <table>
              <thead>
                <tr>
                  <th>#</th>
                  <th>Description</th>
                  <th>Quantity</th>
                  <th>Unit P.</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of po.products; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.product.name }}</td>
                  <td>
                    <p class="right-align">{{ item.quantity }}</p>
                  </td>
                  <td>
                    <p class="right-align">
                      {{ item.unit_price | customCurrency: po.currency_used }}
                    </p>
                  </td>
                  <td>
                    <p class="right-align">
                      {{
                        calculateTotalAmountProduct(item)
                          | customCurrency: po.currency_used
                      }}
                    </p>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td colspan="3"></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td colspan="3"><b>Total without VAT</b></td>
                  <td>
                    <p class="right-align" style="font-weight: bolder">
                      {{
                        calculateTotalWithouxVAT()
                          | customCurrency: po.currency_used
                      }}
                    </p>
                  </td>
                </tr>
                <tr *ngIf="po.discount_status">
                  <td></td>
                  <td colspan="3">
                    <b class="blue-text"
                      >Discount ( {{ po.discount_percent }}% )</b
                    >
                  </td>
                  <td>
                    <p
                      class="right-align blue-text"
                      style="font-weight: bolder"
                    >
                      {{
                        calculateDiscount() | customCurrency: po.currency_used
                      }}
                    </p>
                  </td>
                </tr>
                <tr *ngIf="po.discount_status">
                  <td></td>
                  <td colspan="3">
                    <b class="blue-text">Total without VAT - Discount</b>
                  </td>
                  <td>
                    <p
                      class="right-align blue-text"
                      style="font-weight: bolder"
                    >
                      {{
                        calculateTotalWithouxVATDiscount()
                          | customCurrency: po.currency_used
                      }}
                    </p>
                  </td>
                </tr>
                <tr *ngIf="po.shipping_status">
                  <td></td>
                  <td colspan="3">
                    <b>Shipping amount</b>
                  </td>
                  <td>
                    <p class="right-align" style="font-weight: bolder">
                      {{
                        po.shipping_amount | customCurrency: po.currency_used
                      }}
                    </p>
                  </td>
                </tr>
                <tr *ngIf="po.tva_status">
                  <td></td>
                  <td colspan="3">
                    <b>VAT ( 19.25% )</b>
                  </td>
                  <td>
                    <p class="right-align" style="font-weight: bolder">
                      {{
                        calculateVATAmount() | customCurrency: po.currency_used
                      }}
                    </p>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td colspan="3">
                    <b>Total</b>
                  </td>
                  <td>
                    <p class="right-align" style="font-weight: bolder">
                      {{ calculateTotal() | customCurrency: po.currency_used }}
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <p>
              Amount in leters:
              <b
                >{{ calculateTotal() | currencyToWord }}
                {{ po.currency_used }}</b
              >
            </p>
          </div>
          <div class="row">
            <div class="col s12 m6">
              <p>Yours sincerely</p>
              <!-- <p>{{ purchaseOrder.user.username }}</p> -->
            </div>
          </div>
          <br /><br />
          <div class="divider"></div>
          <div class="center" style="font-size: 12px; font-style: italic">
            <b>
              <i
                >{{ po.company.rc }} | {{ po.company.po_box }} |
                {{ po.company.phone }} | {{ po.company.email }}</i
              ><br />
              <i
                >{{ po.company.nui }} | {{ po.company.bank_name }} |
                {{ po.company.bank_iban }} | www.almapps.com</i
              >
            </b>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
