<app-base [submenus]="submenus"></app-base>
<main>
  <div class="row">
    <div class="col m2"></div>
    <div class="col s12 m8">
      <div class="card hoverable">
        <div class="card-content">
          <div class="blue lighten-1 white-text">
            <span class="card-title">Add transaction</span>
          </div>

          <div class="divider"></div>
          <app-form-transaction
            [transaction]="transaction"
          ></app-form-transaction>
        </div>
      </div>
    </div>
  </div>
</main>
