<app-base [submenus]="submenus"></app-base>
<main style="padding-left: 320px; padding-top: 30px">
  <div class="row">
    <div class="col s12 m12">
      <a
        class="waves-effect waves-light btn-small light-blue darken-4"
        href="/company-infos/add"
        ><i class="left"
          ><img
            src="../../../assets/css/flaticon/svg/new-task.svg"
            alt=""
            style="height: 30px; padding-top: 5px" /></i
        >New company detail</a
      >
      <div class="card hoverable">
        <div class="card-content">
          <span class="card-title">Company informations</span>
          <div class="divider"></div>
          <div>
            <table class="highlight centered responsive-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Po box</th>
                  <th>Contact name</th>
                  <th>Email</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody *ngIf="paginatedData.length != 0">
                <tr *ngFor="let item of paginatedData">
                  <td>{{ item.name }}</td>
                  <td>{{ item.address }}</td>
                  <td>{{ item.po_box }}</td>
                  <td>{{ item.contact_name }}</td>
                  <td>{{ item.email }}</td>
                  <td *ngIf="item.status">
                    <span
                      class="new badge green"
                      data-badge-caption="On"
                    ></span>
                  </td>
                  <td *ngIf="!item.status">
                    <span class="new badge red" data-badge-caption="Off"></span>
                  </td>
                  <td>
                    <div class="btn-group" role="group">
                      <a
                        class="waves-effect waves-light btn btn-small"
                        title="Edit purchase order"
                        (click)="edit(item)"
                        ><i class="material-icons">edit</i></a
                      >
                      <a
                        class="waves-effect waves-light btn btn-small green darken-3"
                        title="Print purchase order"
                        (click)="activate(item)"
                        *ngIf="!item.status"
                        ><i class="material-icons">visibility</i></a
                      >
                      <a
                        class="waves-effect waves-light btn btn-small amber darken-3"
                        title="Print purchase order"
                        (click)="deactivate(item)"
                        *ngIf="item.status"
                        ><i class="material-icons">visibility_off</i></a
                      >
                      <a
                        class="waves-effect waves-light btn btn-small red darken-4"
                        title="Delete client"
                        (click)="confirmDelete(item)"
                        ><i class="material-icons">delete</i></a
                      >
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="paginatedData.length == 0">
                <tr>
                  <td colspan="8">
                    <i class="center">No data available</i>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="center" style="padding-top: 20px">
              <button
                (click)="prevPage()"
                class="btn waves-effect waves-light white darken-4 btn-small"
                [disabled]="currentPage === 1"
              >
                <img
                  src="../../../assets/css/flaticon/svg/left-chevron.svg"
                  alt=""
                  style="height: 25px; margin-top: 3px"
                />
              </button>
              <span
                class="page-number"
                style="margin-left: 10px; margin-right: 10px"
                >{{ currentPage }} / {{ totalPages() }}</span
              >
              <button
                (click)="nextPage()"
                class="btn waves-effect waves-light white btn-small"
                [disabled]="currentPage === totalPages()"
              >
                <img
                  src="../../../assets/css/flaticon/svg/right-chevron.svg"
                  alt=""
                  style="height: 24px; margin-top: 3px"
                />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
