<form #clientForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div>
      <div class="col s12 m12">
        <div class="row">
          <h5>Tool informations</h5>
          <div class="col s12 m12">
            <!-- Product name -->
            <div class="form-input">
              <label for="name"
                >Tool name <span class="red-text">(*)</span></label
              >
              <div class="input-field">
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  required
                  name="name"
                  [(ngModel)]="tool.name"
                  placeholder="Tool name"
                  #name="ngModel"
                />
              </div>
            </div>

            <!-- Product description -->
            <div class="form-input">
              <label for="description"
                >Tool description <span class="red-text">(*)</span></label
              >
              <div class="input-field">
                <input
                  type="text"
                  class="form-control"
                  id="description"
                  required
                  name="description"
                  [(ngModel)]="tool.description"
                  placeholder="Tool description"
                  #description="ngModel"
                />
              </div>
            </div>

            <!-- Product initial stock level -->
            <div class="form-input">
              <label for="stock"
                >Tool stock level <span class="red-text">(*)</span></label
              >
              <div class="input-field">
                <input
                  type="number"
                  class="form-control"
                  id="stock"
                  name="stock"
                  required
                  [(ngModel)]="tool.stock_level"
                  placeholder="Product initial stock level"
                  #phone="ngModel"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Submit button -->
      <div class="divider"></div>

      <div class="col s12 m12 center">
        <hr />
        <button
          type="submit"
          *ngIf="isAddForm"
          class="waves-effect waves-light btn"
          [disabled]="!clientForm.form.valid"
        >
          <i class="material-icons">save</i>
          Save
        </button>

        <button
          type="submit"
          *ngIf="!isAddForm"
          class="waves-effect waves-light btn"
          [disabled]="!clientForm.form.valid"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</form>
<h3 *ngIf="!tool" class="center"></h3>
