<div class="container-fluid fullscreen-bg">
  <nav>
    <div class="nav-wrapper">
      <div href="#" class="brand-logo center">
        <img src="../../../assets/images/almapps-logo.png" />
      </div>
    </div>
  </nav>
  <div class="login-card">
    <div class="card login-form">
      <p
        class="red-text center white"
        style="font-weight: bolder"
        *ngIf="hasError"
      >
        {{ errorMessage }}
      </p>
      <form #loginForm="ngForm" (ngSubmit)="login()">
        <h2 class="center">Login</h2>
        <label for="username">Email</label>
        <div class="input-field">
          <input
            id="username"
            type="email"
            name="email"
            class="validate"
            placeholder="Email"
            required
            [(ngModel)]="email"
          />
        </div>
        <label for="password">Password</label>
        <div class="input-field">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
            [(ngModel)]="password"
          />
        </div>

        <div class="center">
          <button class="btn btn-sm" type="submit">Sign In</button>
        </div>
      </form>
    </div>
  </div>
</div>
