nav {
  background-color: rgba(
    109,
    108,
    108,
    0.307
  ) !important; /* remove background */
}

nav img {
  height: 45px;
  width: 200px;
  margin-top: 10px;
}

.hide-on-med-and-down {
  padding-top: 5px;
}

.hide-on-med-and-down a {
  font-size: 35px;
  font-weight: bolder;
  font-style: oblique;
  text-transform: uppercase;
}

.fullscreen-bg {
  height: 100vh; /* full viewport height */
  width: 100%; /* full width */
  background-image: url("../../../assets/images/almapps-team.jpg");
  background-size: cover; /* scale to fill */
  background-position: center; /* center image */
  background-repeat: no-repeat; /* no tiling */
}

.login-card {
  height: 100vh;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center; /* vertical center */
}

.login-form {
  width: 500px;
  background: rgb(54, 52, 52, 0.8);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin-top: 0px !important;
  font-size: 30px;
  color: #ffffff;
}

.login-form label {
  margin-left: 15px;
  color: #ffffff;
}

.login-form .input-field {
  margin-right: 25px;
}

/* Remove Materialize underline style and add rounded border */
.input-field input[type="text"],
.input-field input[type="password"],
.input-field input[type="email"] {
  border: 1px solid #ccc; /* regular border */
  border-radius: 25px; /* rounded edges */
  padding: 0 15px; /* spacing inside */
  height: 50px; /* fixed height */
  box-shadow: none; /* remove default focus shadow */
  color: #ffffff;
}

/* Focus effect */
.input-field input[type="text"]:focus,
.input-field input[type="password"]:focus,
.input-field input[type="email"]:focus {
  border-color: #0288d1; /* highlight color */
  box-shadow: 0 0 5px rgba(0, 121, 107, 0.4);
}

.login-form .btn {
  width: 200px;
  border-radius: 20px;
  background-color: #01579b;
}
