<app-base [submenus]="submenus"></app-base>
<main>
  <div class="row">
    <div class="col s12 m12">
      <a
        class="waves-effect waves-light btn-small light-blue darken-4"
        (click)="openNewRegister()"
        *ngIf="!checkIfOpenedRegister()"
        ><i class="left"
          ><img
            src="../../../assets/css/flaticon/svg/cash-register.svg"
            alt=""
            style="height: 30px; padding-top: 5px" /></i
        >Open cash register
      </a>
      <div class="card hoverable">
        <div class="card-content">
          <span class="card-title">Cash register</span>
          <div class="divider"></div>
          <div>
            <table class="highlight centered responsive-table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Opening amount</th>
                  <th>Closing amount</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody *ngIf="paginatedData.length != 0">
                <tr *ngFor="let item of paginatedData">
                  <td>{{ item.date | date: "dd-MM-YYYY" }}</td>
                  <td>{{ item.opening_balance | customCurrency }}</td>
                  <td *ngIf="item.closing_balance">
                    {{ item.closing_balance | customCurrency }}
                  </td>
                  <td *ngIf="!item.closing_balance">
                    {{ 0 | customCurrency }}
                  </td>
                  <td>
                    <p class="center red-text" *ngIf="item.status == 'closed'">
                      {{ item.status }}
                    </p>
                    <p class="center green-text" *ngIf="item.status == 'open'">
                      {{ item.status }}
                    </p>
                  </td>
                  <td>
                    <div class="btn-group" role="group">
                      <a
                        class="waves-effect waves-light red btn btn-small"
                        (click)="openCloseRegister(item.id)"
                        *ngIf="item.status == 'open'"
                        ><i class="material-icons">close</i></a
                      >
                      <a
                        class="waves-effect waves-light green btn btn-small"
                        [ngClass]="disabledLink(item)"
                        (click)="reopenRegisterTransactions(item.id)"
                        ><i class="material-icons">edit</i></a
                      >
                      <a
                        class="waves-effect waves-light grey darken-2 btn btn-small"
                        title="Edit client"
                        (click)="detailCashRegister(item)"
                        ><i
                          ><img
                            [src]="'assets/css/flaticon/svg/money-transfer.svg'"
                            alt="" /></i
                      ></a>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="paginatedData.length == 0">
                <tr>
                  <td colspan="5">
                    <i class="center">No data available</i>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="center" style="padding-top: 20px">
              <button
                (click)="prevPage()"
                class="btn waves-effect waves-light white darken-4 btn-small"
                [disabled]="currentPage === 1"
              >
                <img
                  src="../../../assets/css/flaticon/svg/left-chevron.svg"
                  alt=""
                  style="height: 25px; margin-top: 3px"
                />
              </button>
              <span
                class="page-number"
                style="margin-left: 10px; margin-right: 10px"
                >{{ currentPage }} / {{ totalPages() }}</span
              >
              <button
                (click)="nextPage()"
                class="btn waves-effect waves-light white btn-small"
                [disabled]="currentPage === totalPages()"
              >
                <img
                  src="../../../assets/css/flaticon/svg/right-chevron.svg"
                  alt=""
                  style="height: 24px; margin-top: 3px"
                />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="confirmOpenRegister" class="modal">
    <div class="modal-content">
      <h4 class="center red-text">Open cash register for today</h4>
      <p *ngIf="checkIfOpenedRegister()" class="center black-text darken-4">
        Please close register of date
        <b>{{ openedRegister.date | date: "dd-MM-YYYY" }}</b> before moving
        forward or the system will automatically close register.
      </p>
      <div class="form-input" *ngIf="paginatedData.length == 0">
        <label for="stock"
          >Opening balance <span class="red-text">(*)</span></label
        >
        <div class="input-field">
          <input
            type="number"
            class="form-control"
            id="opening_balance"
            name="opening_balance"
            required
            [(ngModel)]="opening_balance"
            placeholder="Opening balance"
            #phone="ngModel"
          />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="modal-close waves-effect waves-green btn-flat red left white-text"
        (click)="closeModal()"
      >
        Close
      </button>
      <button
        type="button"
        class="modal-close waves-effect waves-green btn-flat right green white-text"
        (click)="openRegister()"
      >
        Confirm
      </button>
    </div>
  </div>

  <div id="confirmReopenRegister" class="modal">
    <div class="modal-content">
      <h4 class="center amber-text">Reopen cash register</h4>
      <p *ngIf="cashRegister" class="center black-text darken-4">
        open register of date
        <b>{{ cashRegister.date | date: "dd-MM-YYYY" }}</b>
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="modal-close waves-effect waves-green btn-flat red left white-text"
        (click)="closeModal()"
      >
        Close
      </button>
      <button
        type="button"
        class="modal-close waves-effect waves-green btn-flat right green white-text"
        (click)="reopenRegister(cashRegister.id)"
      >
        Confirm
      </button>
    </div>
  </div>

  <div id="confirmCloseRegister" class="modal">
    <div class="modal-content">
      <h4 class="center red-text">Close cash register</h4>
      <p *ngIf="checkIfOpenedRegister()" class="center black-text darken-4">
        Close register of date
        <b>{{ openedRegister.date | date: "dd-MM-YYYY" }}</b>
      </p>
      <form action="" #closingForm="ngForm">
        <div class="col s12 m12">
          <div class="form-input">
            <label for="closing_balance"
              >Closing amount <span class="red-text">(*)</span></label
            >
            <div class="input-field">
              <input
                type="text"
                class="form-control"
                id="closing_balance"
                name="closing_balance"
                [(ngModel)]="closing_balance"
                #closing="ngModel"
                required
              />
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="modal-close waves-effect waves-green btn-flat red left white-text"
        (click)="closeModal()"
      >
        Close
      </button>
      <button
        type="button"
        class="modal-close waves-effect waves-green btn-flat right green white-text"
        (click)="closeRegister()"
      >
        Confirm
      </button>
    </div>
  </div>

  <div id="openRegister" class="modal modal-open-register">
    <div class="modal-content">
      <h4 class="center black-text">Open cash register</h4>
      <hr />
      <div class="row">
        <div class="col s12 m12">
          <form action="">
            <div class="col s12 m12">
              <!-- Years -->
              <div class="form-input">
                <label for="year">Year <span class="red-text">(*)</span></label>
                <select
                  class="browser-default"
                  name="year"
                  id="year"
                  [(ngModel)]="selected_year"
                  (ngModelChange)="onYearChange()"
                  required
                >
                  <option [ngValue]="null" disabled>Select year</option>
                  <option *ngFor="let item of years" [ngValue]="item">
                    {{ item }}
                  </option>
                </select>
              </div>
              <!-- Months -->
              <div class="form-input">
                <label for="month"
                  >Month <span class="red-text">(*)</span></label
                >
                <select
                  class="browser-default"
                  name="month"
                  id="month"
                  [(ngModel)]="selected_month"
                  (ngModelChange)="onMonthChange()"
                  required
                >
                  <option [ngValue]="null" disabled>Select month</option>
                  <option *ngFor="let item of months" [ngValue]="item.value">
                    {{ item.label }}
                  </option>
                </select>
              </div>
              <div class="form-input">
                <label for="date_op"
                  >Date <span class="red-text">(*)</span></label
                >
                <div class="input-field">
                  <input
                    type="text"
                    class="datepicker"
                    id="date_op"
                    name="date_op"
                    [(ngModel)]="selected_date"
                    #date_op="ngModel"
                    [min]="minDate"
                    [max]="maxDate"
                    required
                  />
                </div>
              </div>
              <div class="form-input">
                <label for="opening_amount"
                  >Opening amount <span class="red-text">(*)</span></label
                >
                <div class="input-field">
                  <input
                    type="text"
                    class="form-control"
                    id="opening_amount"
                    name="opening_amount"
                    [(ngModel)]="opening_amount_input"
                    #opening_amount="ngModel"
                    required
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="modal-close waves-effect waves-green btn-flat red left white-text"
        (click)="closeModal()"
      >
        Close
      </button>
      <button
        type="button"
        class="modal-close waves-effect waves-green btn-flat right green white-text"
        (click)="createCashDesk()"
      >
        Open cashDesk
      </button>
    </div>
  </div>
</main>
