/* SideNav */

.sidenav {
  top: 65px;
  width: 300px !important;
  /* height: auto; */
}

.sidenav li > a {
  padding: 0 16px;
}

.sidenav .collapsible-body li > a {
  padding-left: 50px;
}

.sidenav li > a > i.material-icons {
  margin: 0 3px 0 0;
}

.sidenav {
  width: 250px;
}

.sidenav li a.active {
  background-color: #1a237e; /* Change the background color */
  color: white !important; /* Change the text color */
}

.sidenav li a i img {
  height: 28px;
  margin-top: 10px;
}

/* End sideNav */
