<div class="container-fluid">
  <div class="row">
    <div class="col s12 m3">
      <a href="dashboard">
        <div class="card">
          <img
            src="../../../assets/css/flaticon/svg/001-dashboard.svg"
            alt=""
          />
          <h5>Dashboard</h5>
        </div>
      </a>
    </div>
    <div class="col s12 m3">
      <a href="clients/list">
        <div class="card">
          <img src="../../../assets/css/flaticon/svg/008-client.svg" alt="" />
          <h5>Clients management</h5>
        </div>
      </a>
    </div>
    <div class="col s12 m3">
      <a href="purchase-orders/list"
        ><div class="card">
          <img
            src="../../../assets/css/flaticon/svg/003-invoice-1.svg"
            alt=""
          />
          <h5>Invoices</h5>
        </div></a
      >
    </div>
    <div class="col s12 m3">
      <a href="payments/list">
        <div class="card">
          <img
            src="../../../assets/css/flaticon/svg/013-payment-method.svg"
            alt=""
          />
          <h5>Payments</h5>
        </div>
      </a>
    </div>
    <div class="col s12 m3">
      <a href="/products/list">
        <div class="card">
          <img
            src="../../../assets/css/flaticon/svg/004-product-management.svg"
            alt=""
          />
          <h5>Products management</h5>
        </div>
      </a>
    </div>
    <div class="col s12 m3">
      <a href="">
        <div class="card">
          <img
            src="../../../assets/css/flaticon/svg/005-maintenance.svg"
            alt=""
          />
          <h5>Tools management</h5>
        </div>
      </a>
    </div>
    <div class="col s12 m3">
      <a href="/technicians/list">
        <div class="card">
          <img
            src="../../../assets/css/flaticon/svg/012-technician-1.svg"
            alt=""
          />
          <h5>Technicians & Jobs</h5>
        </div>
      </a>
    </div>
    <div class="col s12 m3">
      <a href="/users/list">
        <div class="card">
          <img src="../../../assets/css/flaticon/svg/009-service.svg" alt="" />
          <h5>Users management</h5>
        </div>
      </a>
    </div>
    <div class="col s12 m3">
      <a href="">
        <div class="card">
          <img
            src="../../../assets/css/flaticon/svg/007-seo-report.svg"
            alt=""
          />
          <h5>Reports</h5>
        </div>
      </a>
    </div>
    <div class="col s12 m3">
      <a href="">
        <div class="card">
          <img src="../../../assets/css/flaticon/svg/exit.svg" alt="" />
          <h5>Sign out</h5>
        </div>
      </a>
    </div>
  </div>
</div>
