thead tr th {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #e0e0e0;
}

tbody tr td {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #e0e0e0;
}

.modal {
  width: 200px;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  left: 50% !important;
  margin: 0 !important;
}

.modal-content h4 {
  font-size: 15px;
}
