.form-input {
  margin-top: 10px;
}

.form-input label {
  font-size: 13px;
  margin-left: 4px;
  color: #757575;
}

.form-input select {
  height: 30px !important; /* fixed height */
  border-radius: 5px;
  margin-top: 2px;
  padding-left: 10px;
}

h4 {
  font-size: 18px;
  font-weight: bolder;
  text-decoration: underline;
}
