<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div href="#" class="brand-logo">
        <img src="../../../assets/images/almapps-logo.png" />
      </div>
      <div class="center hide-on-med-and-down">
        <a
          href="#"
          style="
            font-size: 30px;
            font-weight: bolder;
            font-style: oblique;
            text-transform: uppercase;
          "
          >ALMAPPS Management System</a
        >
      </div>
    </div>
  </nav>
</div>
