<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div href="#" class="brand-logo">
        <img src="../../../assets/images/almapps-logo.png" />
      </div>
      <a
        href="#"
        data-target="slide-out"
        class="sidenav-trigger"
        *ngIf="activeLink != '/menu'"
        ><i class="material-icons" style="font-size: 300%">menu</i></a
      >
      <div class="center hide-on-med-and-down">
        <a
          href="#"
          style="
            font-size: 30px;
            font-weight: bolder;
            font-style: oblique;
            text-transform: uppercase;
          "
          >ALMAPPS Management System</a
        >
      </div>
    </div>
  </nav>
</div>
