html,
body {
  overflow: hidden;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
h1 {
  margin: 0;
  padding: 6px;
  border: 0;
  font-size: 20pt;
}
/* #header { height: 43px; padding: 0; background-color: #eee; border: 1px solid #888; } */
#subheader {
  height: 12px;
  text-align: right;
  font-size: 10px;
  color: #555;
}
/* #map { height: 97%; border: 1px solid #888; } */

main.expanded {
  margin-left: 0; /* Remove any left margin */
}

#map {
  height: calc(100vh - 175px);
  /* width: 100%; */
}

header,
main,
footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

.expandable {
  /* margin-left: -15px !important;
    margin-right: -15px !important; */
  padding-top: 30px;
  padding-left: 8px !important;
  padding-right: 8px !important;
  border: 2px solid #448aff;
}

.expandable li .collapsible-header {
  text-transform: uppercase;
  font-weight: bolder;
  background-color: #448aff;
  color: #ffffff;
  margin-bottom: 10px !important;
}

.expandable li .collapsible-header:hover {
  background-color: #448aff;
}

.expandable li .collapsible-body {
  padding-left: 20px;
  font-style: italic;
  color: #424242;
}

/* Custom styles for the zoom control buttons */
.ol-zoom-in,
.ol-zoom-out {
  background-color: #448aff !important; /* Example: Green background */
  color: white !important; /* Change the text color */
  text-align: center !important;
  border: none; /* Remove default border */
  border-radius: 4px; /* Optional: Rounded corners */
  box-shadow: 0 2px 6px rgba(117, 143, 75, 0.85); /* Optional: Add shadow */
  margin: 5px;
  width: 35px !important; /* Wider button */
  height: 35px !important; /* Taller button */
  font-size: 18px; /* Larger font size */
}

.ol-zoom-in:hover,
.ol-zoom-out:hover {
  background-color: #448aff; /* Darker green on hover */
  color: #f1f1f1; /* Slightly lighter text color on hover */
}

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  height: 15px;
  width: 15px;
  margin-top: 7px;
  background-color: transparent;
  border: 2px solid #5a5a5a;
  top: 0px;
  z-index: 0;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  top: 3px;
  left: 3px;
  height: 15px;
  width: 15px;
  border: 2px solid #1b5e20;
  background-color: #1b5e20;
}

.sublabel-content {
  margin-top: 0px;
  margin-bottom: 0px !important;
  padding-bottom: 0px;
  padding-top: 0px;
  line-height: 30px;
}

.sublabel-content span {
  font-weight: bolder;
  color: #212121;
}

.sublabel-legend p {
  margin: 0 0 0 30px;
  padding: 0 0 0 0 !important;
  align-items: center;
  line-height: 25px;
  font-size: 12px;
  /* border: 2px solid #448aff; */
}
